html {
    font-family: 'Open Sans', Arial, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
}

/* NAV */

header#nav-title {
    text-align: center;
    font-size: 2em;
    padding: 0.5em 0;
}
div#nav-a {
    max-width: 100vw;
    max-height: 13em;
    overflow-y: scroll;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 0;
}
a.nav-link {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    padding: 0.7em 1.5em;
}
a#reference {
    border-bottom: none;
}

/* MAIN */

main {
    padding: 0.5em 1em 0;
}
header {
    font-size: 1.8em;
    margin: 0.5em 0;
}
p {
    padding: 0 1em;
    line-height: 1.3em;
}
p, li, code {
    opacity: 0.8;
}
li {
    margin-top: 1em;
}
code {
    background-color: #f7f7f7;
    display: block;
    padding: 1.3em 1em;
    margin: 0 2em;
    border-radius: 6px;
    line-height: 2em;
}
p#p-me {
    text-align: center;
    padding-top: 2em;
    margin-bottom: 0;
}
a#kath {
    text-decoration: none;
    color: orangered;
    font-weight: 600;
}

@media (min-width: 1000px) {
    body {
        flex-direction: row;
    }
    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 19em; 
        border-right: 3px solid darkgrey;
        min-height: 100vh;
    }
    header#nav-title {
        padding: 0;
    }
    div#nav-a {
        max-height: 90vh;
        border: none;
    }
    a.nav-link {
        padding: 1em 1.8em;
        color: rgb(54, 54, 54);
    }
    a#intro {
        border-top: 1px solid black;
    }
    main {
        margin-left: 20em;
    }
    ul {
        margin-left: 1em;
    }
}
