html {
    font-family: 'Open Sans', Arial, sans-serif;
}

/* NAV */

header#nav-title {
    text-align: center;
    font-size: 2em;
    padding: 0.5em 0;
}
div#nav-a {
    max-width: 100vw;
    max-height: 13em;
    overflow-y: scroll;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 0;
}
a.nav-link {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    padding: 0.7em 1.5em;
}
a#reference {
    border-bottom: none;
}

/* MAIN */

main {
    padding: 1.5em 1em;
}
header {
    font-size: 1.8em;
    margin: 0.5em 0;
}
p {
    padding: 0 1em;
    line-height: 1.3em;
}
p, li, code {
    opacity: 0.8;
}
li {
    margin-top: 1em;
}
code {
    background-color: #f7f7f7;
    display: block;
    padding: 1.3em 1em;
    margin: 0 2em;
    border-radius: 6px;
    line-height: 2em;
}
